body {
	background:#464866;
	margin:0;
	font-family: 'Red Hat Display', sans-serif;
 
}
/* Styling for the navigation bar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #25274d;


}
    
ul.navbar li {
    float: right;
}
    
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
ul.navbar li a:hover {
    background-color: #3c3f72;
}
    
/* Styling for the dropdown menu */
ul.navbar li.dropdown {
    display: inline-block;
}
    
ul.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #25274d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    
ul.navbar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
    
ul.navbar .dropdown:hover .dropdown-content {
    display: block;
}

/*--------------------STYLING FOR THE HOMEPAGE---------------------------*/
/*Styling the homepage background*/
.main_screen, .history_screen, .topics_screen, .mathematicians_screen, .contests_screen{
    position: relative; 
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.main_screen, .topics_screen, .contests_screen{
	justify-content:left;
}

.history_screen, .mathematicians_screen{
	justify-content:right;
}

.main_screen::before, .history_screen::before, .topics_screen::before, .mathematicians_screen::before, .contests_screen::before{   
	content: "";
	background-size:contain;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.35;
	position: absolute;
	overflow: hidden;
	margin-top:10px;
	margin-bottom:10px;
}

.main_screen::before{
	background-image: url(images/header_homepage.jpg);
 
}

.history_screen::before{
	background-image: url(images/history_screen.jpg); 
}


.topics_screen::before{
	background-image:url(images/topics_screen.jpg);
}

.mathematicians_screen::before {
	background-image: url(images/mathematcians_screen.jpg);
}

.contests_screen::before{
	background-image: url(images/contests_screen.png);
}


.homepage_text, .header_text{
	position: relative;
	color: #ffffff;  
	font-size: 3vw;
	font-weight:600;
	line-height: 0.9;
	margin-right:50px;
	margin-left:50px;

}

.main_screen .homepage_text{
	margin-left:50%;
}

.header_text p{
	margin-bottom:10px;
	font-size: 0.9vw;
	text-align: left;

}

.header_text h1 {
	margin-top:10px;
	text-align: left;
}

.homepage_text p{
	margin-top:15px;
	font-size: 1.5vw;
	text-align: right;

}

.homepage_text h1 {
	margin-bottom:10px;
	text-align: right;
}

/*Styling the buttons on the homepage*/

.btnleft, .btnright{
	background-color: #25274d;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	border-radius:12px;
	position: absolute;
	transform: translateX(-50%);
	z-index: 9999;
}

.btnleft{
	left:10%;
}

.btnright{
	right:10%;
}

.btnleft:hover, .btnright:hover{
	background:#3c3f72;
	filter: drop-shadow(15px 10px 4px black);
}


/*--------------------------STYLING THE TEXT THROUGHOUT THE WEBSITE------------------*/
/*styling the text*/
.history_text, .mathematicians_text, .topics_text, .contests_text, .references_text{
	position: absolute;
	color: white;  
	font-size: 1.5vw;
	line-height: 1;
	margin-right:10%;
	margin-left:10%;	
}

/*HISTORY PAGE TEXT STYLING*/
.history_text h1{
	text-align:center;
}

.history_text h2 h3{
	text-align:left;
}

.history_text a, .mathematicians_text a, .topics_text a{
	color:blue;
}

.history_text p{
	font-size:2vw;
}

/*MATHEMATICIANS PAGE STYLING8*/
.mathematicians_text h2{
	text-decoration:underline dotted;
}

.mathematicians_text p{
	font-size:2vw;
}

.pascal {
	float:right;
	text-align:right;
}

/*TOPICS TEXT STYLING*/
.topics_text{
	text-align:center;
}

/*REFERENCES TEXT STYLING*/
.references_text p{
	line-height:1.5;
}

.references_text h1{
	text-decoration:underline white;
}
	
	
/*styling for paragraphs that are situated next to images*/
.img_text {
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
}
.img_text p{
	flex:1;
	font-size:2vw;
	text-align:justify;
	padding:1%;
}

.img_text img{
	float:left;
	width:40%;
	height:auto;
	position:relative;
	padding:1%;
	border:2px solid white;
}
	

/*mathematcians page and topics page button styling*/
.navbtns{
	margin-left:6%;
	position:relative;
	margin-right:6%;
	padding-left:5%;

}

.navbtns a {
	display: inline-block;
	margin-right:2%;
	margin-left:2%;
	margin-top:2%;

}
.navbtns img {
	width: 425px;
	height: auto;
	position:relative;
	padding:2%;
}

.navbtns a:hover{
	filter: drop-shadow(15px 10px 4px black);
}

.navbtns img:hover{
	opacity:0.5;
}

.image_link {
	display: inline-block;
	position: relative;
}

.image_link img {
	display: block;
}

.image_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3vw;
	text-align: center;
}

/*Styling the table */

table, th, td {
  border: 1px solid white;
}

.contests_text a{
	color:blue;
}
